/* html{
    height: 100%;
    margin: 0px;
} */
body {

   background-color: rgb(51, 51, 51);
   color: rgb(255, 255, 255);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
}

h1 {
    color: gold;
}

#guides p {
    font-weight: 600;
    margin-top: 2%;
}

#inputter {
    border-radius: 5px;
    padding-left: 1%;
    width: 80%;
    height: 30px;
}

#but {
    height: 30px;
    border: none;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(2, 95, 112);
    color: white;
    cursor: pointer;
}

#listItems {
   
    padding: 0;
    margin-top: 20px;
}

li {
    text-align: left;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 5px;
    width: 80%;
    margin: auto;
    height: 30px;
    color: white;
    align-content: center;
    margin-top: 15px;
    background: rgb(78, 185, 205);
    border-radius: 5px;
    transition: background 0.3s;
}

li:hover {
    background: #76CFE0;
}



.delete {
    border: none;
    background: none;
    color: gold;
    float: right;
   
}
